.project { 
	border-radius: 5px;
}

.project-links a { 
    padding: 0.5rem;
    border-radius: 5px;
    margin: 1rem;
    text-align: center;
	transform: .2s;
}

.project-links a:hover { 
	transform:scale(1.06);
}

/* Media queries */

/* Mobile devices */

/* Medium devices */

