.portfolio__about { 
    display: flex;
    justify-content: space-around;
    align-items: center;

    color: white;
    padding: 1.5rem;
    background: var(--color-navbar);
    margin-top: 0;
}

.portfolio__about--image { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio__about--image img {
    border-radius: 50%;
    width: 200px;
}

.portfolio__about--text { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    line-height: 30px;
}

.portfolio__about--social { 
    display: flex;
    flex-direction: column;
}

.portfolio__about--social a {
    margin: 1rem;
}


.portfolio__about--text h1 {
    font-weight: 700;

}

.portfolio__about--text-introduction { 
    margin: 1rem 0;
}

.portfolio__about--text a { 
    color: var(--color-text);
}

.portfolio__about--text span { 
    font-style: italic;
    font-weight: 500;
}

.about__links--resume { 
    background-color: blue;
    padding: 0.2rem;
    border-radius: 5px;
    color: black;
}

.about__links--resume:hover { 
    background-color: rgba(0, 0, 255, 0.5);
}

/* social media icons hover state */

.instagram:hover { 
    color: magenta;
}

.linkedin:hover { 
    color: rgb(15, 15, 224);
}

.twitter:hover { 
    color: rgb(9, 9, 231)
}

.whatsapp:hover { 
    color: mediumspringgreen;
}

.github:hover { 
    opacity: .5;
}

/* Media Queries */

/* Mobile devices */

@media only screen and (max-width: 550px) { 
    .portfolio__about { 
        margin-bottom: 3.25rem;
    }

    .portfolio__about--text { 
        font-size: 18px;
    }

    .portfolio__about--text h1 { 
        font-size: 18px;
        margin-bottom: 0;
        font-weight: 400;
    }

    .portfolio__about--text h2 { 
        margin-bottom: 0;
        font-size: 16px;
    }

    .portfolio__about--text p { 
        font-size: 14px;
    }

    .portfolio__about--info {
        flex-direction: column;
    }

    .portfolio__about--social {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

/* Medium screens */
@media only screen and (max-width: 748px) { 
    .portfolio__about { 
        flex-direction: column;
    }

    .portfolio__about--text {
        text-align: center;
        align-items: center;
    }

    .portfolio__about--social {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}