.technologies {
    padding: 1rem;
    margin: 1.5rem;
}

.technologies-item {
	padding:1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
	border:	3px solid grey;
	border-radius: 10px;
	transition: transform .2s;
}

.technologies-item:hover {
	transform:scale(1.03);
}

.technologies-item h3 {
    font-weight: 700;
    font-size: 20px;
}

.languages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.languages h4 {
    font-weight: 500;
}

.languages-items p {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0.25rem;
}

.languages-items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem;
}

.languages-items img {
    margin: 0.5rem;
}


/** Media Queries **/

@media only screen and (max-width: 550px) {
    .technologies {
		display: flex;
        flex-direction: column;
        align-items: center;
		justify-content: center;
    }
}

