.projects { 
  padding: 1rem;
  margin: 1.5rem;
  width: 100%;
}

.projects p {
  text-align: center;
}


/* Media Queries */

/* small screens - mobile devices */

@media only screen and (max-width: 550px) {
  .projects { 
    padding: 0.5rem;
  }

  .projects-items {
    flex-direction: column;
  }
}
